@import 'reset.scss';
%flex__one{
	display: flex;
	justify-content: space-between;
}
%flex__two{
	display: flex;
	justify-content: center;
}
%flex__three{
	display: flex;
	justify-content: center;
	align-items: center;
}
%flex__four{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
%flex__five{
	display: flex;
	flex-flow: column;
	align-items: center;
}
%flex__six{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
%flex__seven{
	display: flex;
	align-items: center;
}
%flex__eight{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
%flex__nine{
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
}
%flex__ten{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
%flex__eleven{
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}
header{
	width: 1440px;
	height: 832px;
	background-color: #fff;
	margin: 0 auto;
	@extend %flex__five;
	.header__nav{
		width: 1121px;
		height: 48px;
		margin: 40px 0 0 0;
		@extend %flex__one;
		.header__nav-logo{
			width: 65px;
			height: 48px;
			@extend %flex__three;
		}
		.header__nav-inner{
			width: 984.87px;
			height: 48px;
			@extend %flex__four;
			.header__nav-inner__menu ul{
				width: 511px;
				height: 48px;
				@extend %flex__four;
			}
			.header__nav-inner__menu ul a{
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 34px;
				color: #000;
			}
			.header__nav-inner__menu ul a:hover{
				color: gray;
				transition: 0.1s;
			}
			.header__nav-inner__button{
				width: 134px;
				height: 48px;
				border: none;
				background: #1C3988;
				border-radius: 4px;
				@extend %flex__three;
			}
			.header__nav-inner__button:hover{
				cursor: pointer;
			}
			.header__nav-inner__button a{
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 22px;
				color: #fff;
			}
		}
	}
	.header__content{
		margin: 128px 0 0 0;
		width: 1121px;
		height: 496px;
		display: flex;
		.header__content-left{
			width: 582px;
			height: 496px;
			.header__content-left__text{
				margin: 35px 0 0 0;
				width: 545px;
				height: 288px;
				@extend %flex__five;
				.header__content-left__text-title{
					font-family: 'Merriweather';
					font-style: normal;
					font-weight: 700;
					font-size: 64.85px;
					line-height: 86px;
					color: #091638;
				}
				.header__content-left__text-subt{
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 400;
					font-size: 21.25px;
					line-height: 34px;
					color: #091638;
				}
			}
			.header__content-left__form{
				margin: 24px 0 0 0;
				width: 737px;
				height: 104px;
				background: #F3F3FA;
				border-radius: 4px;
				padding: 24px;
				display: flex;
				position: relative;
				z-index: 1;
				.header__content-left__form-pptype{
					width: 205px;
					height: 56px;
					background: #FFFFFF;
					border: 1px solid #4764C3;
					box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
					border-radius: 4px;
					@extend %flex__three;
					.header__content-left__form-pptype-inner{
						width: 173px;
						height: 14px;
						@extend %flex__four;
					}
					.header__content-left__form-pptype-inner p{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 17px;
						line-height: 27px;
						color: #1C3988;
					}
				}
				.header__content-left__form-location{
					margin-left: 16px;
					width: 302px;
					height: 56px;
					background: #FFFFFF;
					border: 1px solid #DDDDDD;
					box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
					border-radius: 4px;
					@extend %flex__seven;
					.header__content-left__form-location-inner{
						width: 176px;
						height: 22.5px;
						@extend %flex__four;
						margin: 0 0 0 16px;
					}
					.header__content-left__form-location-inner p{
						color: #141B2D;
						opacity: 0.5;
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 17px;
						line-height: 27px;
					}
				}
				.header__content-left__form-button{
					margin: 0 0 0 16px;
					width: 150px;
					height: 56px;
					border: none;
					background: #1C3988;
					border-radius: 4px;
					@extend %flex__seven;
					.header__content-left__form-button-inner{
						width: 86px;
						height: 22px;
						margin: 0 0 0 24px;
						@extend %flex__four;
						p{
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 700;
							font-size: 16px;
							line-height: 22px;
							color: #fff;	
						}
					}
				}
			}
		}
		.header__content-right{
			position: relative;
			z-index: 0;
		}
	}
}
.topoff{
	width: 1440px;
	height: 920px;
	background: #F3F3FA;
	margin: 0 auto;
	@extend %flex__three;
	.topoff__content{
		width: 1119px;
		height: 680px;
		.topoff__content-top{
			width: 1119px;
			height: 155px;
			@extend %flex__eight;
			.topoff__content-top__txt{
				width: 611px;
				height: 155px;
				@extend %flex__six;
				.topoff__content-top__txt-ttl p{
					font-family: 'Merriweather';
					font-style: normal;
					font-weight: 700;
					font-size: 51.88px;
					line-height: 69px;
					color: #091638;
				}
				.topoff__content-top__txt-sbttl p{
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 400;
					font-size: 21.25px;
					line-height: 28px;
					color: #091638;
				}
			}
			.topoff__content-top__button{
				width: 152px;
				height: 48px;
				border: 3px solid #1C3988;
				background-color: #F3F3FA;
				border-radius: 4px;
				@extend %flex__three;
				a{
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 700;
					font-size: 16px;
					line-height: 20px;
					color: #1C3988;
				}
			}
			.topoff__content-top__button:hover{
				background-color: #1C3988;
				transition: 0.1s;
				cursor: pointer;
				a{
					color: #fff;
					transition: 0.1s;
				}
			}
		}
		.topoff__content-mid{
			width: 1119px;
			height: 64px;
			margin: 18px 0 0 0;
			@extend %flex__four;
			.topoff__content-mid__line{
				width: 943px;
				height: 2px;
				background-color: #DADAEE;
				.topoff__content-mid__line-inner{
					width: 250px;
					height: 2px;
					background-color: #1C3988;
				}
			}
			.topoff__content-mid__button{
				width: 64px;
				height: 64px;
				border: none;
				background-color: #DADAEE;
				border-radius: 50%;
				img{
					padding: 21px 27px 21px 24px;
				}
			}
			.topoff__content-mid__button:hover{
				background-color: #1C3988;
				transition: 0.1s;
			}
			.topoff__content-mid__button2{
				width: 64px;
				height: 64px;
				border: none;
				background-color: #DADAEE;
				border-radius: 50%;
				img{
					padding: 21px 24px 21px 27px;
				}
			}
			.topoff__content-mid__button2:hover{
				background-color: #1C3988;
				transition: 0.1s;
			}
		}
		.topoff__content-bottom{
			margin: 33px 0 0 0;
			width: 1119px;
			height: 420px;
			@extend %flex__one;
			.topoff__content-bottom__card{
				width: 350px;
				height: 420px;
				background: #FFFFFF;
				border-radius: 4px;
				filter: drop-shadow(0px 4px 20px rgba(71, 100, 195, 0.1));
				img{
					width: 350px;
					height: 250px;
				}
				.topoff__content-bottom__card-txt{
					width: 313px;
					height: 127px;
					margin: 24px 0 0 20px;
					.topoff__content-bottom__card-txt-ttl{
						font-family: 'Merriweather';
						font-style: normal;
						font-weight: 700;
						font-size: 21.248px;
						line-height: 28px;
						color: #141B2D;
					}
					.topoff__content-bottom__card-txt-prc{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 17px;
						line-height: 23px;
						color: #1C3988;
						padding: 19px 0 0 0;
					}
					.topoff__content-bottom__card-txt-sbttl{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 17px;
						line-height: 23px;
						color: #141B2D;
						padding: 5px 0 0 0;
					}
				}
			}
		}
	}	
}
.abus{
	width: 1440px;
	height: 2343px;
	background-color: #fff;
	margin: 0 auto;
	@extend %flex__nine;
	.abus__abts{
		width: 1134px;
		height: 465px;
		@extend %flex__one;
		.abus__abts-left{
			width: 688px;
			height: 465px;
			@extend %flex__ten;
			img{
				height: 416px;
				width: 628px;
			}
		}
		.abus__abts-right{
			width: 356px;
			height: 456px;
			@extend %flex__six;
			.abus__abts-right-ttl p{
				font-family: 'Merriweather';
				font-style: normal;
				font-weight: 700;
				font-size: 51.88px;
				line-height: 69px;
				color: #091638;
			}
			.abus__abts-right-sbttl{
				@extend %flex__six;
				width: 356px;
				height: 385px;
				p{
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 400;
					font-size: 17px;
					line-height: 26px;
					color: #091638;
				}
			}
		}
	}
	.abus__tcrds{
		width: 1114px;
		height: 846px;
		@extend %flex__five;
		.abus__tcrds-top{
			width: 1114px;
			height: 378px;
			@extend %flex__one;
			.abus__tcrds__card{
				width: 350px;
				height: 378px;
				background-color: #FFFFFF;
				border-radius: 4px;
				filter: drop-shadow(0px 4px 20px rgba(71, 100, 195, 0.1));
				.abus__tcrds__card-inner{
					margin: 48px 75px 0 75px;
					width: 200px;
					height: 282px;
					.abus__tcrds__card-inner__ttl{
						padding: 26px 0 0 0;
						font-family: 'Merriweather';
						font-style: normal;
						font-weight: 700;
						font-size: 21.248px;
						line-height: 28px;
						text-align: center;
						color: #091638;
					}
					.abus__tcrds__card-inner__sbttl{
						padding: 4px 0 0 0;
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 17px;
						line-height: 23px;
						text-align: center;
						color: #091638;
					}
				}
			}
			.abus__tcrds__cardT{
				width: 350px;
				height: 378px;
				.abus__tcrds__cardT-inner{
					width: 350px;
					height: 184px;
					margin: 97px 0 0 0;
					@extend %flex__six;
					.abus__tcrds__cardT-inner__ttl{
						font-family: 'Merriweather';
						font-style: normal;
						font-weight: 700;
						font-size: 51.88px;
						line-height: 69px;
						color: #091638;
					}
					.abus__tcrds__cardT-inner__sbttl{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 21.25px;
						line-height: 28px;
						color: #091638;
					}
				}
			}
		}
		.abus__tcrds-mid{
			width: 1114px;
			height: 378px;
			@extend %flex__one;
			margin: 32px 0 0 0;
			.abus__tcrds__card{
				width: 350px;
				height: 378px;
				background-color: #FFFFFF;
				border-radius: 4px;
				filter: drop-shadow(0px 4px 20px rgba(71, 100, 195, 0.1));
				.abus__tcrds__card-inner{
					margin: 48px 75px 0 75px;
					width: 200px;
					height: 282px;
					.abus__tcrds__card-inner__ttl{
						padding: 26px 0 0 0;
						font-family: 'Merriweather';
						font-style: normal;
						font-weight: 700;
						font-size: 21.248px;
						line-height: 28px;
						text-align: center;
						color: #091638;
					}
					.abus__tcrds__card-inner__sbttl{
						padding: 4px 0 0 0;
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 17px;
						line-height: 23px;
						text-align: center;
						color: #091638;
					}
				}
			}
		}
		.abus__tcrds-bottom{
			margin: 42px 0 0 0;
			width: 112px;
			height: 16px;
			@extend %flex__one;
			.abus__tcrds-bottom__circle{
				width: 16px;
				height: 16px;
				background-color: #DADAEE;
				border-radius: 50%;
			}
			.abus__tcrds-bottom__circle:hover{
				background-color: #1C3988;
				transition: 0.1s;
			}
		}
	}
	.abus__ref{
		width: 1114px;
		height: 552px;
		@extend %flex__five;
		.abus__ref-top{
			width: 1114px;
			height: 155px;
			@extend %flex__six;
			.abus__ref-top__ttl{
				color: #091638;
				font-family: 'Merriweather';
				font-style: normal;
				font-weight: 700;
				font-size: 51.88px;
				line-height: 69px;
			}
			.abus__ref-top__sbttl{
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 400;
				font-size: 21.25px;
				line-height: 28px;
				color: #091638;
			}
		}
		.abus__ref-mid{
			margin: 43px 0 0 0;
			width: 1114px;
			height: 298px;
			@extend %flex__one;
			.abus__ref-mid__card{
				width: 541px;
				height: 298px;
				background-color: #F3F3FA;
				.abus__ref-mid__card-cntnt{
					margin: 31px 0 0 24px;
					width: 500px;
					height: 248px;
					@extend %flex__six;
					.abus__ref-mid__card-cntnt-top{
						width: 500px;
						height: 169px;
						display: flex;
						.abus__ref-mid__card-cntnt-top-left{
							width: 49px;
							height: 169px;
							@extend %flex__two;
						}
						.abus__ref-mid__card-cntnt-top-right{
							width: 451px;
							height: 169px;
							@extend %flex__eleven;
							p{
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 400;
								font-size: 17px;
								line-height: 26px;
								color: #091638;
							}
						}
					}
					.abus__ref-mid__card-cntnt-bottom{
						width: 500px;
						height: 55px;
						@extend %flex__six;
						.abus__ref-mid__card-cntnt-bottom__ttl{
							font-family: 'Merriweather';
							font-style: normal;
							font-weight: 700;
							font-size: 21.248px;
							line-height: 28px;
							color: #091638;
						}
						.abus__ref-mid__card-cntnt-bottom__sbttl{
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 400;
							font-size: 17px;
							line-height: 26px;
							color: #091638;
						}
					}
				}
			}
		}
		.abus__ref-bottom{
			margin: 40px 0 0 0;
			width: 112px;
			height: 16px;
			@extend %flex__one;
			.abus__ref-bottom__circle{
				width: 16px;
				height: 16px;
				background-color: #DADAEE;
				border-radius: 50%;
			}
			.abus__ref-bottom__circle:hover{
				background-color: #1C3988;
				transition: 0.1s;
			}
		}
	}
}
.subs{
	width: 1440px;
	height: 398px;
	background-color: #F3F3FA;
	margin: 0 auto;
	padding: 90px 0 0 231px;
	.subs__content{
		width: 875px;
		height: 217px;
		@extend %flex__one;
		.subs__content-left{
			width: 217px;
			height: 217px;
		}
		.subs__content-right{
			width: 562px;
			height: 217px;
			.subs__content-right__ttl{
				padding: 36px 0 0 0;
				font-family: 'Merriweather';
				font-style: normal;
				font-weight: 700;
				font-size: 33.203px;
				line-height: 44px;
				color: #141B2D;
			}
			.subs__content-right__sbttl{
				padding: 7px 0 0 0;
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 400;
				font-size: 21.25px;
				line-height: 28px;
				color: #141B2D;
			}
			.subs__content-right__form{
				margin: 16px 0 0 0;
				width: 402px;
				height: 48px;
				@extend %flex__one;
				input{
					width: 260px;
					height: 48px;
					border: none;
					box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
					border-radius: 4px;
					background-color: #fff;
					padding: 4px 16px;
					color: #141B2D;
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 27px;
				}
				input::placeholder{
					color: #141B2D;
					opacity: 0.5;
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 27px;
				}
				button{
					width: 126px;
					height: 48px;
					border: 3px solid #1C3988;
					border-radius: 4px;
					background-color: #F3F3FA;
					a{
						color: #1C3988;
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 16px;
						line-height: 22px;
					}
				}
				button:hover{
					cursor: pointer;
					background-color: #1C3988;
					transition: 0.1s;
					a{
						color: #fff;
						transition: 0.1s;
					}
				}
			}
		}
	}
}
footer{
	width: 1440px;
	height: 191px;
	background-color: #1C3988;
	margin: 0 auto;
	@extend %flex__three;
}