*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.main{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
}
.card{
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    border: 3px solid black;
    border-radius: 30px;
    background: beige;
    align-items: center;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}
.card h4 span {
    color: tomato;
}
.creater{
    padding: 20px 0 0 0;
    width: 250px;
    margin: 0 auto;
}